model: # Edit model config referring to the follow link: https://huggingface.co/docs/transformers/master/en/model_doc/auto#transformers.AutoModelForPreTraining
  eos_token_id: 1
  pad_token_id: 0
  decoder_start_token_id : 0
  dense_act_fn: "silu"
  feed_forward_proj: "gated-silu"
  dropout_rate: 0.1
  d_ff : 3072
  d_kv : 64
  d_model: 768
  relative_attention_max_distance : 128
  relative_attention_num_buckets : 32
  initializer_range: 0.02
  layer_norm_eps: 1e-06
  n_positions : 512
  model_type: "ul2" # Choose a model type in pretrain_language_model.py.
  num_heads: 12
  num_layers: 12
  vocab_size: 32128
data:
  data_dir: "datasets/ul2" # Fill in the path of a output of running serialize_corpora.py.
  test_size: 0.0 # If you set this argument, arguments must be floating type. (e.g. 0.01)
collator:
  pad_to_multiple_of: 8
  noise_densities :
    - 0.15
    - 0.15
    - 0.5 
    - 0.5
    - 0.15
    - 0.5
    - 0.25
  mean_span_lengths :
    - 3.0
    - 8.0
    - 3.0
    - 8.0
    - 64.0
    - 64.0
    - "None"
  optional_task_prefixes:
    - "[NLU]"
    - "[NLU]"
    - "[NLG]"
    - "[NLG]"
    - "[NLG]"
    - "[NLG]"
    - "[S2S]"
training: # Edit training config referring to the follow link: https://huggingface.co/docs/transformers/master/en/main_classes/trainer#transformers.TrainingArguments
  output_dir: "checkpoints/ul2" # Fill in the path which is used to save checkpoints.
  overwrite_output_dir: True # If you use multi-node, set this True.
  do_train: True
  do_eval: False
  per_device_train_batch_size: 8
  per_device_eval_batch_size: 8
  gradient_accumulation_steps: 8
  learning_rate: 1e-4
  weight_decay: 0.1
  adam_beta1: 0.9
  adam_beta2: 0.999
  adam_epsilon: 1e-08
  max_grad_norm: 1.0
  max_steps: 1000000
  lr_scheduler_type: "linear"
  warmup_steps: 10000
  logging_strategy: "steps"
  logging_steps: 500
  evaluation_strategy: "no"
  eval_steps: 0
  save_strategy: "steps"
  save_steps: 5000
  save_total_limit: 5
  seed: 42
  fp16: False
  sharded_ddp: False
  tpu_num_cores: 8
  report_to : "wandb"
  deepspeed:
  gradient_checkpointing: False
